body {
    background-color: #c6d4df;
}

h1 .game-title {
    max-width: 300px;
    margin-left: 20px;
}

.quote {
    margin-left: 70px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
}

.word-list-container {

}

.word-list {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    margin-left: 40px;
}

.neg-words {

}

.pos-words {

}

#pie-chart {
    display: inline-block;
}

#search-container {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.easy-autocomplete {
	margin-left: auto;
	margin-right: auto;
}

#search-container > h1 {
	text-align: center;
	font-size: 5em;
	font-family: 'Quicksand', sans-serif;
}

#search-container > h1 > div {
	display: inline;
}

.b {
	color: #4885ed;
}

.r {
	color: #db3236;
}

.y {
	color: #f4c20d;
}

.g {
	color: #3cba54;
}



















