body {
    background-color: #222c3a;
}

h1 {
	color: #f0ead6;
}

h3 {
	color: #f0ead6;
}

#search {
	background-color: #c5c0b0;
	border-color: #000000;
}

.easy-autocomplete-container {
	/*background-color: #58b3f0;*/
}

.easy-autocomplete-container > ul {
	background-color: #c5c0b0;
	font-color: #000000;
}

.easy-autocomplete-container > ul > li.selected {
	background-color: #c5c0b0 !important;
}

.navbar {
	background-color: #1a202a;
	border-color: #293e4f;
}

.game-title {
	margin-top: 20px;
    margin-left: 20px;
	margin-bottom: 20px;
	font-family: 'Quicksand', sans-serif;
	font-size: 5em;
}

.quote {
    margin-left: 70px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #dbd5c3;
}

.word-list-container {
	display: inline-block;
	vertical-align: top;
}

.word-list-header {
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.word-list {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    margin-left: 40px;
	font-family: 'Quicksand', sans-serif;
	vertical-align: top;
}

.pos-words, .neg-words {
	margin-left: 20px;
	font-size: 1.5em;
}



#pie-chart {
    display: inline-block;
}

#search-container {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.easy-autocomplete {
	margin-left: auto;
	margin-right: auto;
}

#search-container > h1 {
	text-align: center;
	font-size: 5em;
	font-family: 'Quicksand', sans-serif;
}

#search-container > h1 > div {
	display: inline;
}

.b {
	color: #4885ed;
}

.r {
	color: #db3236;
}

.y {
	color: #f4c20d;
}

.g {
	color: #3cba54;
}

.tooltip {
	visibility: hidden;
}
/*
.pos-words:hover .tooltip {
	visibility: visible;
}

.neg-words:hover .tooltip {
	visibility: visible;
}*/

















